<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="/static/signup.css">
</head>
<body>


<main>
  <header class="prompt">
    <h1 align="center" class="prompt">Faculty Registration</h1>
  </header>
  <div class="login-page">
        <div class="form">
    <form class="signup-form" action="/fac_signup" name="form" method="POST">
      <input type="text" name="fname" placeholder="Name" required="required" /><br>
      <input type="text" name="teach_id" placeholder="Teacher ID" required="required" /><br>
      <input type="email" name="email" placeholder="Email" required=" required" /><br>
      <div class="password-container">
        <input type="password" name="password" placeholder="Password" required="required" />
      </div>

      <button class="submit-button">Sign up</button>
      <p class="message">I already have an account<a href="fac_login"> Login</a>

    </form>

    </span>


</main>

</body>
</html>


