<!Doctype html>
<html>
<style>
body {
background-color : lightblue;
}
h1 {
	text-align: center;
  font-size: 60px;
    background-color: #ff6666;
    color : black;
}
.btn-group a {
  background-color: #ff6666;
  border: white;
  color: black;
  font-size: 30px;
  padding: 10px 24px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
  display: block;
}



.btn-group a:hover {
  background-color: lightblue;
}
</style>
<body>

<h1>QuizApp LeaderBoards</h1>


 

<div class="btn-group">
  <a href="/leaderboard/nodejs">NodeJS</a><br>
   <a href="/leaderboard/Blockchain">BlockChain</a><br>
<a href="/leaderboard/javascript">Javascript</a><br>
</div>

</body>
</html>