<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="/static/signup.css">
</head>
<body>
        <h1 align="center" class="prompt">LOGIN</h1>
        <div class="login-page">
        <div class="form">
        <form action="/login" method="POST">
            <input type="text" name = "rollno" placeholder="Roll No." required="required"><br>
            <input type="password" name = "password" placeholder="Password" required="required">
            <button>Login</button>
        
        <p class="message">Forgot Password?<a href="/forgot_password"> Reset</a></p>
        <p  class="message">Don't have an account<a href="/signup"> Sign Up</a></p>
</form>
</body>
</html>