<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <title>QuizApp</title>
  </head>
  <%- include newhome.ejs %>
  <body>
    <div class="container">
      <section id="home">



      


        <div class="home-content">
          <h1>QuizApp</h1>
          <h2 class="section-heading">QuizApp • Making Testing Easy • India.</h2>
          <p>
           “One Quiz a day keeps problems away.” 
          </p>
          <div class="social-icon">
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>

          <div class="social-icon">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </div>
        
        <div>
           <a class="register-btn hvr-buzz-out" href="signup">Register/Login</a>
        </div>
        </div>
      </section> <!-- home section -->

      <section id="speakers">
        <h2 class="section-heading">QuizApp</h2>
        <p>
          It is a portal for online quizzes, which can be used for any type of evaluation. Show your talent here.
          
        </p>

        <div class="main-speaker">
          

          <div class="main-speaker-info">
            <h3>Our Aim</h3>

            <p>-> To promote online testing.<br>
              -> To save time of our facuties.
              <br> -> One more step towards Digital India.
            </p>

            

            <span class="tip1"></span>
          </div>
        </div>


      

      <section id="sponsors">


        <div class="sponsor-logo-container">
          <img height="200" width="200" class="AusEmbassy-logo" alt="logo" src="https://i.ibb.co/NS4hgNY/logo.png" />

        </div>
        <br>
        <br>
      </section>

      <footer>
        <p class="footer-title">QuizApp</p>

        <br>
        <br>
        <a class="register-today-btn" href="signup">Register Today</a><br><br><br><br>



        
      </footer>

    </div> <!-- container-->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>

    <script src="js/app.js">b</script>
  </body>
</html>