<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="/static/signup.css">
</head>
<body>


<main>
  <header class="prompt">
    <h1 align="center">Enter Password Here</h1>
  </header>

  <div class="login-page">
  <div class="form">
    <form class="signup-form" action="/password" name="form" method="POST">
        <input type="password" name="password" placeholder="Password" required="required" />

      <button>Go Ahead.</button>

    </form>





</main>

</body>
</html>
