<!Doctype html>
<html>
<head>
</head>
<body>


<main>
  <header class="prompt">
  </header>
  <section class="body">
    <form class="signup-form" name="form" method="POST" >
      NAME: <input type="text" name="cname"><br>
      Roll_No.: <input type="text" name="rollno"><br>
      CGPA: <input type="text" name="cg"><br>
    <button class="submit-button">Submit</button>
    </form>
  </section>
</main>
</body>
</html>




