

<link rel="stylesheet" href="/static/reg.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<section class="maincontent">
 <section class="content">
   <center>
   <h1 class="title">Please complete the form to register in this site</h1>
   </center>
   <form type="text" name ="form" method = "post">
     <input name ="username" class="register-form" type="text" placeholder="Username">
     <input name ="password" class="register-form" type="password" placeholder="Password">
     <input name ="email" class="register-form" type="text" placeholder="E-mail">
     <input name ="fullname" class="register-form" type="text" placeholder="Your name">
  </form>  
  <br>
   <br>
   <br>
   <input type="submit" class="button" value="Submit">
  </section>
  <br>
  <br>
</section>
