<!Doctype html>
<html>
<head>
</head>
<body>


<main>
  <header class="prompt">
    <h1>Create an account</h1>
  </header>

  <section class="body">
    <form class="signup-form" action="/sign" name="form" method="POST" >
      <input type="text" name="a" placeholder="Roll No" required="required" />
      <input type="email" name="b" placeholder="Email" required=" required" />
      <div class="password-container">
        <input type="password" name="c" placeholder="Password" required="required" />
      </div>

      <button class="submit-button">Sign up</button>

    </form>

    <small class="terms-agreement">By signing up to this service, you are indicating that you have read and agreed to the <a href="#">Terms of service</a></small>
    <span class="got-account"><a href="" method = "GET">I already have an account</a></span>

  </section>

</main>

</body>
</html>