<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body
{
  padding: 30px;
  background-color: #fcfcfc;  
}
.center-div
{
  margin-top: 40px;
  max-width: 1400px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
</style>
</head>
<body>
<div class="center-div"></div>
</body>
</html>