<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="/static/login.css">
</head>
<body>
    <div id="overlay"></div>
    <div class="loginbox">
        <h1>Please Enter All Questions Along with their options.</h1><br>
        <form action="/ten" method="POST">
            <input type="text" name = "q1" placeholder="Question 1" required="required">
            <input type="text" name = "q11" placeholder="Option1" required="required">
            <input type="text" name = "q12" placeholder="Option2" required="required">
            <input type="text" name = "q13" placeholder="Option3" required="required">
            <input type="text" name = "q14" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q2" placeholder="Question 2" required="required">
            <input type="text" name = "q21" placeholder="Option1" required="required">
            <input type="text" name = "q22" placeholder="Option2" required="required">
            <input type="text" name = "q23" placeholder="Option3" required="required">
            <input type="text" name = "q24" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q3" placeholder="Question 3" required="required">
            <input type="text" name = "q31" placeholder="Option1" required="required">
            <input type="text" name = "q32" placeholder="Option2" required="required">
            <input type="text" name = "q33" placeholder="Option3" required="required">
            <input type="text" name = "q34" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q4" placeholder="Question 4" required="required">
            <input type="text" name = "q41" placeholder="Option1" required="required">
            <input type="text" name = "q42" placeholder="Option2" required="required">
            <input type="text" name = "q43" placeholder="Option3" required="required">
            <input type="text" name = "q44" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q5" placeholder="Question 5" required="required">
            <input type="text" name = "q51" placeholder="Option1" required="required">
            <input type="text" name = "q52" placeholder="Option2" required="required">
            <input type="text" name = "q53" placeholder="Option3" required="required">
            <input type="text" name = "q54" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q6" placeholder="Question 6" required="required">
            <input type="text" name = "q61" placeholder="Option1" required="required">
            <input type="text" name = "q62" placeholder="Option2" required="required">
            <input type="text" name = "q63" placeholder="Option3" required="required">
            <input type="text" name = "q64" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q7" placeholder="Question 7" required="required">
            <input type="text" name = "q71" placeholder="Option1" required="required">
            <input type="text" name = "q72" placeholder="Option2" required="required">
            <input type="text" name = "q73" placeholder="Option3" required="required">
            <input type="text" name = "q74" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q8" placeholder="Question 8" required="required">
            <input type="text" name = "q81" placeholder="Option1" required="required">
            <input type="text" name = "q82" placeholder="Option2" required="required">
            <input type="text" name = "q83" placeholder="Option3" required="required">
            <input type="text" name = "q84" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q9" placeholder="Question 9" required="required">
            <input type="text" name = "q91" placeholder="Option1" required="required">
            <input type="text" name = "q92" placeholder="Option2" required="required">
            <input type="text" name = "q93" placeholder="Option3" required="required">
            <input type="text" name = "q94" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q1" placeholder="Question 10" required="required">
            <input type="text" name = "q101" placeholder="Option1" required="required">
            <input type="text" name = "q102" placeholder="Option2" required="required">
            <input type="text" name = "q103" placeholder="Option3" required="required">
            <input type="text" name = "q104" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q1" placeholder="Question 1" required="required">
            <input type="text" name = "q11" placeholder="Option1" required="required">
            <input type="text" name = "q12" placeholder="Option2" required="required">
            <input type="text" name = "q13" placeholder="Option3" required="required">
            <input type="text" name = "q14" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q2" placeholder="Question 2" required="required">
            <input type="text" name = "q21" placeholder="Option1" required="required">
            <input type="text" name = "q22" placeholder="Option2" required="required">
            <input type="text" name = "q23" placeholder="Option3" required="required">
            <input type="text" name = "q24" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q3" placeholder="Question 3" required="required">
            <input type="text" name = "q31" placeholder="Option1" required="required">
            <input type="text" name = "q32" placeholder="Option2" required="required">
            <input type="text" name = "q33" placeholder="Option3" required="required">
            <input type="text" name = "q34" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q4" placeholder="Question 4" required="required">
            <input type="text" name = "q41" placeholder="Option1" required="required">
            <input type="text" name = "q42" placeholder="Option2" required="required">
            <input type="text" name = "q43" placeholder="Option3" required="required">
            <input type="text" name = "q44" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q5" placeholder="Question 5" required="required">
            <input type="text" name = "q51" placeholder="Option1" required="required">
            <input type="text" name = "q52" placeholder="Option2" required="required">
            <input type="text" name = "q53" placeholder="Option3" required="required">
            <input type="text" name = "q54" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q6" placeholder="Question 6" required="required">
            <input type="text" name = "q61" placeholder="Option1" required="required">
            <input type="text" name = "q62" placeholder="Option2" required="required">
            <input type="text" name = "q63" placeholder="Option3" required="required">
            <input type="text" name = "q64" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q7" placeholder="Question 7" required="required">
            <input type="text" name = "q71" placeholder="Option1" required="required">
            <input type="text" name = "q72" placeholder="Option2" required="required">
            <input type="text" name = "q73" placeholder="Option3" required="required">
            <input type="text" name = "q74" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q8" placeholder="Question 8" required="required">
            <input type="text" name = "q81" placeholder="Option1" required="required">
            <input type="text" name = "q82" placeholder="Option2" required="required">
            <input type="text" name = "q83" placeholder="Option3" required="required">
            <input type="text" name = "q84" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q9" placeholder="Question 9" required="required">
            <input type="text" name = "q91" placeholder="Option1" required="required">
            <input type="text" name = "q92" placeholder="Option2" required="required">
            <input type="text" name = "q93" placeholder="Option3" required="required">
            <input type="text" name = "q94" placeholder="Option4" required="required">
            <br>
            <input type="text" name = "q1" placeholder="Question 10" required="required">
            <input type="text" name = "q101" placeholder="Option1" required="required">
            <input type="text" name = "q102" placeholder="Option2" required="required">
            <input type="text" name = "q103" placeholder="Option3" required="required">
            <input type="text" name = "q104" placeholder="Option4" required="required">
            <br>
            <br>
            <br>
            <input type="submit" value="SUBMIT">
        </form>
        <br>
        <br>
    </div>
</body>
</html>