<!DOCTYPE html>
<!DOCTYPE html>
<html>
<body>
<div>
<h1>All Registered Students</h1>
  <ul class="employees">
  <% for(var i=0; i<Person.length; i++) {%>
    <li class="employees">
      <span><%= "Roll No.: " + Person[i].rollno + ", "%></span>
      <span><%="Email Add: " + Person[i].email%></span>
    </li>
  <% } %>
</ul>
</ul>
</div>
</body>
</html>